{% set
list = [
	{
		title: 'Home',
    active: ''
	},
  {
    title: 'About us',
    active: ''
  },
  {
    title: 'Blog',
    active: 'is-active'
  },
  {
    title: 'Portfolio',
    active: ''
  },
  {
    title: 'Contact us',
    active: ''
  }
]
%}
{% set
asideList = [
  {
    title: 'Video',
    value: '3'
  },
  {
    title: 'Sports',
    value: '5'
  },
  {
    title: 'Media',
    value: '2'
  },
  {
    title: 'Entertainment',
    value: '7'
  },
  {
    title: 'Life',
    value: '4'
  },
  {
    title: 'Super Cool Stuff',
    value: '8'
  }
]
%}
